html{
	font-family: Helvetica;
}

img{
	max-width: 100%;
}
/* use for styles on the entire page */
#facebook-wrapper{

}

/* this header takes up the entire width of the page - style blue */
#header{
	height: 42px;
	width: 100%;
	background-color: #3b5998;
	
}

/* Inner header and its child elements*/
#header-inner{
	height: 42px;
	width: 80%;
	margin: auto;
}

#header-inner div{
	margin-top: 4px;
}

/* left header items */

#left-header{
	float: left;

}

#left-header div{
	float: left;
}

#search-bar input{
	width: 310px;
	height: 18px;
	border-radius: 5px;
	margin-left: 7px;
}

#left-header button{
	margin-top: 4px;
	margin-left: -6px;
	height: 25.3px;
	border-radius: 5px;
	background-color: lightgrey;
}



/* right header items */

#right-header{
	float: right;
}

#right-header div{
	float: left;
}



/* styling for facebook icons */

.icon{
	background-image: url('fb_sprite.png');
	background-size: 26px 905px;
	margin-left: 5px;
	
}

#fb-logo{
	background-position: 0 -163px;
	height: 24px;
	width: 24px;
}


/* magnifying glass is the only one that pulls from png2 */
#magnifying-glass{
	background-image: url('fb_sprite_2.png');
	background-size: 82px 241px;
	background-position: -54px -207px;
	height: 17px;
	width: 17px;
	border-radius: 5px;

}

#mini-profile-pic{
	height: 24px;
	width: 24px;

}

#my-name{
	color: white;
	margin-left: 5px;
	line-height: 25.3px;
	margin-right: 10px;
	font-size: 12px;

}

#home-link a{
	color: white;
	text-decoration: none;
	margin-left: 10px;
	line-height: 25.3px;
	font-size: 12px;
}

#friend-request{
	background-position: 0px -188px;
	height: 24px;
	width: 24px;
	margin-left: 10px;
}

#messages{
	background-position: 0px -338px;
	height: 24px;
	width: 24px;
	margin-left: 10px;
}

#notifications{
	background-position: 0 -238px;
	height: 24px;
	width: 24px;
	margin-left: 10px;
	margin-right: 10px;
}

.line{
	color: grey;
	font-size: 20px;
	font-weight: 100;
}

#lock{
	background-position: 0 -859px;
	height: 16px;
	width: 16px;
	margin-left: 10px;
}

#arrow{
	background-position: 0 -825px;
	height: 16px;
	width: 16px;

}




